<h1>Create a new chatroom!</h1>

<%=bootstrap_form_for @chatroom do |f|%>  
  <%=f.text_field :title %><br>
  <%=f.text_field :description %><br>
  <%=f.check_box :public%><br>
  <%=f.collection_check_boxes :chatroom_user_ids, User.all, :id, :username%><br>
  <%=f.submit "create"%>
<%end%>   