<h1><%=@chatroom.title%></h1>  
<h2><%=@chatroom.description%></h2>
<%if !@chatroom.public%>
<h3>Active users:</h3>
<ul>
<%@chatroom.users.each do |u|%>
  <li>
    <h3><%=u.username%></h3>
  </li>
<%end%>
</ul>
<%end%>

<div id="messages<%=@chatroom.id%>" class="chat-container">
  <%@latest_messages.each do |k,v|%>
    <%if k != :size%>
      <%if v[:name] == User.find(session[:user_id]).username%>
        <div style="text-align:right" class="post"><p> <b><%=v[:name]%> : <br> <%=v[:content]%></p></div>
      <%else%>
        <div style="text-align:left" class="post"><p> <b><%=v[:name]%> : <br> <%=v[:content]%></p></div>
      <%end%>
    <%end%>
  <%end%>


Add your message!

<%=bootstrap_form_for @message, :remote=> true do |f|%>  
  <%=f.text_area :content %><br>
  <%=f.hidden_field :chatroom_id, value: @chatroom.id%>
  <%=f.submit "create"%>
<%end%>  
<%if !@chatroom.public%>
  <%=form_for @chatroom, method: :delete do |f|%>  
    <%=f.submit "Delete room"%>
  <%end%>  
<%end%> 
</div>