<h1>Lord of the Rings characters</h1>
<hr>

<% @characters.each do |character| %>
    <h3><%= character.name.capitalize %></h3>
    <h5>Gender: <%= character.gender %></h5>
    <h5>Race: <%= character.race.name %></h5>
    <h5><%= character.race.bio %></h5>
    <%=form_tag(character, :method => "get") do %>
        <%submit_tag "See character"%>
    <%end%>
    <br>
    <hr>
<%end%>