<h1>Lord of the Rings characters</h1>

<% @characters.each do |character| %>
    <h3><%= character.name %></h3>
    <%= character.gender %>
    <%= character.race.name %>
    <%= character.race.bio %>
    <%= link_to 'See character', character %>
    <br>
<%end%>