<h1>Lord of the Rings characters</h1>

<% @characters.each do |character| %>
    <%= character.name %>
    <%= character.gender %>
    <%= character.race.name %>
    <%= character.race.bio %>
    <%= link_to 'See character', user_path(user) %>
    <br>
<%end%>