
<div class=" flex">

    <div class="character-image">
    <%= image_tag(@character.race.image_url) %>
    </div>

    <div class="flex flex-vertical">
        <h1><%= @character.name %> </h1>

        <p> Gender: <%= @character.gender %> </h1>
        <p> Race: <%= @character.race.name %> </h1>
        <p> Description: <%= @character.race.bio %> </h1>
    </div>
    
</div>



 

 <%if session[:user_id] == @character.user_id%>

    <%= form_for @character, method: :delete do |f|%>
    <%= f.submit "Delete character", class: "btn btn-danger"%>
    <%end%>
<% end %>


<%= link_to 'back to all characters', characters_path %>